@font-face {
    font-family: 'fontello';
    src:url('/fonts/Fontello/fontello.eot');
    src:url('/fonts/Fontello/fontello.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Fontello/fontello.svg#fontello') format('svg'),
        url('/fonts/Fontello/fontello.woff') format('woff'),
        url('/fonts/Fontello/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'fontello';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'fontello';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-instagram:before {
    content: '\e800';
}
.icon-twitter:before {
    content: '\e801';
}
.icon-facebook:before {
    content: '\e802';
}
.icon-flickr:before {
    content: '\e803';
}
.icon-github:before {
    content: '\e804';
}
.icon-tumblr:before {
    content: '\e805';
}
.icon-email:before {
    content: '\e806';
}