
@mixin trans($duration, $prop: all) {
    -webkit-transition: $prop $duration;
    -moz-transition: $prop $duration;
    -ms-transition: $prop $duration;
    transition: $prop $duration;
}

@mixin gradientBg($start, $stop) {
    background-color: $start;
    background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -webkit-linear-gradient(top, $start, $stop);
    background-image: -moz-linear-gradient(top, $start, $stop);
    background-image: -ms-linear-gradient(top, $start, $stop);
    background-image: linear-gradient(top, $start, $stop);
}

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        @if $prefix == webkit {
            -webkit-#{$property}: $value;
        }
        @else if $prefix == moz {
            -moz-#{$property}: $value;
        }
        @else if $prefix == ms {
            -ms-#{$property}: $value;
        }
        @else if $prefix == spec {
            #{$property}: $value;
        }
        @else  {
          @warn "Unrecognized prefix: #{$prefix}";
        }
    }
}

*, *:before, *:after {
    @include prefix(box-sizing, border-box, moz webkit spec);
}

html {
    -webkit-text-size-adjust: none;
}

body {
    font: 20px/30px 'Puritan20Normal', Arial, serif;
    text-align: center;
}
h1, h2, h3, h4, h5 {
    font-family: CabinRegular, sans-serif;
}
ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    @include trans(.5s);
    color: #43c0ef;
    border-bottom: 1px solid transparent;
    text-decoration: none;

    &:hover, &:focus {
        border-bottom: 1px solid;
    }
}

header {
    border-bottom: 1px solid #CCC;
    padding: 0em 1em 2em;
    margin: 2em 33% 0;
    text-transform: uppercase;

    a {
        font-size: smaller;
        letter-spacing: .5px;
        margin: 0 1em;
        color: transparentize(#777, .2);
    }

    @media screen and (max-width: 973px) {
        margin: 2em 10%;
    }

    @media screen and (max-width: 415px) {
        margin: 0;
        padding: 1em 0;
    }
}

.hero {
    background: url(/img/place.jpg) no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    color: #666;
    min-height: 40em;
    overflow: hidden;

    > section {
        margin-top: 8em;
    }

    aside {
        font-size: smaller;
    }

    h1 {
        margin-bottom: 2em;
    }

    @media screen and (max-width: 415px) {
        color: #333;
        min-height: 30em;

        > section {
            margin-top: 3em;
        }
    }
}

#content {
    > section {
        position: relative;

        @media screen and (max-width: 415px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#top-link {
    @include prefix(transform, translateX(-25px), webkit moz spec);
    border-bottom: 30px solid #FFF;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    color: #000;
    font-size: small;
    height: 0;
    position: absolute;
    top: 0;
}

#bio {
    padding-top: 4em;

    article {
        padding: 2em 0 4em;
    }
}

#projects {
    background: #162e34;

    article {
        color: #FFF;
        padding: 4em 0;
    }
}

.projects {
    background: #EEE;

    ul {
        margin: 0;
        padding: 6em 0;
    }

    li {
        float: left;
        height: 440px;
        margin: 0 10px;
        width: 32%;
        text-align: center;

        &:nth-child(4) {
            margin-left: 18%;
        }

        @media only screen and (max-width: 1500px) {
            width: 47%;
            height: auto;

            &:nth-child(odd) {
                clear: left;
            }

            &:nth-child(4) {
                margin-left: auto;
            }

            &:nth-child(5) {
                margin-left: 25%;
            }
        }

        @media screen and (max-width: 1000px) {
            float: none;
            margin: 0 0 3.3em;
            width: 100%;

            &:nth-child(4),
            &:nth-child(5) {
                margin-left: auto;
            }
        }
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    img {
        border: 6px solid #FFF;
        border-radius: 50%;
        display: block;
        height: 190px;
        margin: auto auto 25px;
        width: 190px;
    }

    aside {
        color: lighten(#222, 10%);
    }
}

#experiments {
    background: #EEE url(/img/wood.jpg) no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    color: #FFF;
    padding: 3em 0 5em;

    h2 {
        margin-bottom: 3em;
    }

    a {
        color: #FFF;
        font-weight: bold;
    }

    article {
        @include prefix(transform, translateX(-25%), moz webkit spec);
        display: block;
        margin-left: 50%;
        text-align: left;
    }

    p {
        margin-bottom: 1em;
    }

    .desc {
        color: transparentize(#FFF, 0.1);
        display: block;
        font-size: smaller;
        text-align: left;
    }

    @media screen and (max-width: 400px) {
        article {
            @include prefix(transform, none, webkit moz spec);
            margin: auto;
            text-align: center;
        }

        .desc {
            text-align: center;
        }
    }
}

#blog {
    font-size: 1.4em;
    min-height: 600px;
    padding: 9em 0;

    &:after {
        border-bottom: 10px solid #d7c189;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: 0;
        content: "";
        height: 0;
        position: absolute;
    }
}

#contact {
    background: #29596e;
    color: #FFF;
    padding: 6em 0;
    text-align: center;

    nav {
        display: block;
        margin: 2em auto 3em;

        a {
            border: 0;
            color: #000;
            font-size: 1.7em;
            margin: 0 20px 20px;
            position: relative;

            &:focus, &:hover {
                color: lighten(#000, 100%);
                border: 0;
            }

            &:active {
                top: 2px;
            }
        }
    }

    > article > div {
        margin: 0 0 0 40%;
    }

    img {
        float: left;
        border-radius: 50%;
    }

    .traditional {
        float: left;
        margin: 1.5em 0 0 1.5em;

        > span {
            text-align: left;
            display: block;
        }

        a {
            color: #FFF;
        }
    }

    @media only screen and (max-width: 430px) {
        > article > div {
            margin: 0;
        }

        nav a {
            display: inline-block;
            margin: 25px 50px;
        }

        img {
            float: none;
        }

        .traditional {
            display: block;
            float: none;
            margin: 1em 0 0 0;

            > span {
                text-align: center;
            }
        }
    }
}


// Retina

// @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    // #hi, #contact {
    //     background: url(/img/mountainflip.png) no-repeat 0 -480px, url(/img/broken_noise@2x.jpg);
    // }
    // #projects {
    //     background: url(/img/old_mathematics@2x.jpg);
    //     background-size: 200px 200px;
    // }
    // #bio article {
    //     background-image: url(/img/grid_noise@2x.png);
    //     background-size: 98px 98px;
    // }
// }
