@import "normalize";
@import "mixins";

@charset "UTF-8";

/* MIXINS */
@mixin icon-font($name: 'entypo') {
  font-family: $name;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

/* VARIABLES */
$text: #4e4b4f;
$white: #FFF;
$light-gray: #EEE;
$dark-gray: #272525;
$gray-blue: #3B3B57;
// $bluish: #2f2fa2;
$bluish: #29648a;
// $bluish: #2e9cca;
$heading-bar: $bluish;
$muted-blue: $bluish;
$dark-blue: $bluish;
$link: $bluish;
$subtitle: $bluish;
$border: 1px solid lighten($text, 50);

/* GENERICS */
::selection {
  background: $muted-blue;
  color: $white;
}

::-moz-selection {
  background: $muted-blue;
  color: $white;
}

* {
  @include prefix(box-sizing, border-box, moz webkit spec);
}

html {
  border-bottom: 4px solid $heading-bar;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, .2) inset;
  color: $text;
  font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.6em;
  margin-top: 0;
}

h1, h2 {
  letter-spacing: -1px;
}

h3 {
  color: $bluish;
  font-size: 1.3em;
}

a {
  color: $link;
  font-weight: 600;
  text-decoration: none;
  @include prefix(transition, all .3s, moz webkit ms spec);

  &:hover,
  &:focus {
    color: darken($link, 15%);
    text-decoration: underline;
  }
}

p {
  line-height: 1.4em;
  margin: 2px;
}

li ul {
  margin: 0;
  padding-left: 16px;
}

li {
  line-height: 1.5em;
}

ul > li {
  margin-bottom: 4px;
}

header {
  @include clearfix;

  overflow: visible;
  position: relative;
  padding-top: 6em;
  padding-bottom: 4px;
  @include pagepadding;
  margin: 1em 0;

  section {
    padding:0 1em 1em;
  }
}

main {
  @include pagepadding;
  padding-bottom: 2em;
}

/* LAYOUT */
.heading-bar {
  background: $heading-bar;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 4px;
  font-size: smaller;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

  [class^="icon-"]:before, [class*=" icon-"]:before {
    color: $white;
    position: relative;
    top: 2px;
  }

  a {
    color: $white;
    padding-right: 6px;
  }

  animation-fill-mode: forwards;
  animation-duration: 1.4s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-name: slideout;

  &:hover {
    top: 0;
    transition: all 2s ease;
  }
}

@keyframes slideout {
  from {
    top: 0;
  }

  to {
    top: -24px;
  }
}

.name {
  float: left;
  width: 60%;
  position: relative;
  text-transform: uppercase;

  &:after {
    content: "";
    height: 10px;
    background: $bluish;
    position: absolute;
    width: 120%;
    bottom: -50px;
    left: -200px;
  }

  .given-name {
    display: block;
    color: $bluish;
    letter-spacing: 2px;
    font-weight: 200;
  }

  .family-name {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .category {
    text-transform: none;
    font-weight: 300;
  }
}

.info {
  float: right;
  width: 40%;
  padding-bottom: 1.6em;
  position: relative;

  .adr {
    color: $bluish;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    color: $bluish;
    border-radius: 50%;
    padding: 0 4px;
    margin-right: 8px;
    font-size: 1.6em;
  }
}

.about {
  @include clearfix;

  font-size: large;
  margin: 5em 0 1.5em;
}

.siderail {
  clear: left;
  float: left;
  font-size: .89em;
  width: 26%;
  margin-right: 1em;
}

#main {
  float: right;
  width: 68%;

  @media screen {
    margin-top: -1px;
  }
}

.box {
  @include clearfix;

  margin: 1em 0;
  position: relative;

  h3 {
    text-transform: uppercase;
    margin-top: .3em;
    padding-bottom: .5em;
    font-weight: 200;

    &:after {
      height: 6px;
      content: "";
      width: 60px;
      background: $bluish;
      display: block;
      margin-top: .4em;
    }

    &[class^="icon-"]:before {
        // color: $bluish;
        // float: right;
        // font-size: 2em;
        // line-height: .5em;
        position: relative;
        top: 2px;
        margin-right: 10px;
    }
  }
}

/* STYLES */
.contact {
  margin-top:.6em;

  p {
    margin-bottom:.4em;
    margin-left: -2px;
  }
}

.role {
  font-weight: bold;
  margin-bottom: 1em;
}

h4 {
  margin:.3em 0;

  @media print {
    font-size: 10px !important;
    font-weight: normal;
  }

  @media screen {
    font-size:1.3em;
    font-weight: 500;
  }
}


.job {
  ul {
    margin-top:.5em;

    ul {
      margin: 3px 0;
    }
  }

  p {
    margin: 1em 0;
  }

  .overview {
    display: block;
    margin-top:.8em;
  }

  margin-bottom: 2em;

  h5 {
    margin: 0 0 10px;
  }

  .firm {
    a {
      color: $text;
    }
  }

  .role {

  }

  .title {
    color: $bluish;
    font-style: italic;
  }

  .time-period {
    float: right;
  }
}

.skills {
  margin-top: 0;
}

.languages {
  li {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }

  ul {
    padding: 0;
  }

  .lang {
    float: left;
  }
}

.education {
  margin-bottom: 0;
}

.progress-bar {
  margin-top: 5px;
  float: right;
  background: #ececec;
  height: 8px;
  border-radius: 10px;
  position: relative;
  width: 64%;

  .progress {
    position: absolute;
    background: $bluish;
    height: 8px;
    border-radius: 10px;
  }

  @for $i from 1 through 10 {
    .progress-#{$i} { width: $i * 10%; }
  }
}

.experience {
  margin-bottom: 0;
}

.volunteering,
.side-projects {
  margin-top: 0;

  .job {
    margin: 1em 0 0;
  }

  .icon-right:before {
    margin-right: 6px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    color: $bluish;
  }
}

.what {
  border-radius: 50%;
  background: $dark-blue;
  height: 1em;
  width: 1em;
  color: white;
  cursor: help;
  position: relative;
  display: inline;
  padding: 0px 2px 0 3px;
  font-size: .5em;
  font-weight: bold;
  top: -7px;
  right: -4px;
}

.tooltip {
  cursor: help;
  position: absolute;
  background: $text;
  color: white;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  visibility: hidden;
  opacity: 0;

  @include prefix(transition, opacity .4s ease, webkit moz spec);

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    height: 0;
    width: 0;
    position: absolute;
    top: -5px;
    left: 21%;
    content: "";
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid $text;
  }
}

.cta {
  border: 2px solid $bluish;
  text-align: center;
  font-size: 1.1em;
  padding: 2.3em 1em;
  margin: 1em 0;

  .prelude {
    position: relative;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }

  .contact-info {
    margin-top: 1em;

    a {
      margin-bottom: 0;
      font-size: .9em;
    }
  }
}


/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  html {
  }
}

/* RESPONSIVE */
@media screen and (max-width:900px) {
  #main,
  .siderail {
    overflow: hidden;
    width: 100%;
  }

  .columns {
    overflow: hidden;
    padding-top:.3em;
    article {
      float: left;
      width: 50%;
    }
  }
}
@media screen and (max-width:650px) {
  header {
    padding: 4em 2em 0;
  }

  main {
    padding: 0 2em 2em;
  }

  .about {
    margin-top: 0;
  }

  .role .time-period {
    float: none;
    display: block;
    margin: 4px 0 6px;
  }

  .info {
    border-top: $border;
    padding-top: 1em;

    [class^="icon-"]:before, [class*=" icon-"]:before {
      content: "";
      display: none;
    }
  }

  .info,
  .name {
    float: none;
    text-align: center;
    width: auto;

    &:after {
      content: none;
    }
  }

  .columns {
    overflow: visible;
    padding-top: 0;
    article {
      float: none;
      width: auto;
    }
  }
}

/* FONTS */

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/fira-sans/FiraSans-Regular.eot');
  src: url('/fonts/fira-sans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/fira-sans/FiraSans-Regular.woff') format('woff'),
       url('/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype'),
       url('/fonts/fira-sans/FiraSans-Regular.svg#FiraSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.eot');
  src: url('/fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
       url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
       url('/fonts/montserrat/Montserrat-Regular.svg#Montserrat') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-Light.eot');
  src: url('/fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/montserrat/Montserrat-Light.woff') format('woff'),
       url('/fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
       url('/fonts/montserrat/Montserrat-Light.svg#Montserrat') format('svg');
  font-weight: 200;
  font-style: normal;
}


/*! Entypo pictograms by Daniel Bruce — www.entypo.com */
@font-face {
  font-family: 'entypo';
  src:url('/fonts/Entypo/entypo.eot');
  src:url('/fonts/Entypo/entypo.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Entypo/entypo.woff') format('woff'),
      url('/fonts/Entypo/entypo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'entypo-social';
  src:url('/fonts/EntypoSocial/entypo-social.eot');
  src:url('/fonts/EntypoSocial/entypo-social.eot?#iefix') format('embedded-opentype'),
      url('/fonts/EntypoSocial/entypo-social.woff') format('woff'),
      url('/fonts/EntypoSocial/entypo-social.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  @include icon-font;
  color: $bluish;
  text-align: center;
  width: (18em / 14);
}
// convert character to hex code - <https://gist.github.com/BrettBukowski/8188310>
.icon-education:before {
  content: "\1f393";
}
.icon-work:before {
  content: "\1f4f0";
}
.icon-skills:before {
  content: "\1f53e";
}
.icon-link:before {
  content: "\1f517";
}
.icon-email:before {
  content: "\1f53f";
}
.icon-phone:before {
  content: "\1f4de";
}
.icon-projects:before {
  content: "\1f680";
}
.icon-overview:before {
  content: "\1f4d1";
}
.icon-right:before {
  content: "\27a1";
}
.icon-print:before {
  content: "\e716";
}
.icon-pencil:before {
  content: "\270e";
}
.icon-doc:before {
  content: "\1f4c4";
}
.icon-heart:before {
  content: "\2665";
}
.icon-work-together:before {
  content: "⚡";
  position: absolute;
  right: 50%;
  bottom: -21px;
  padding: 4px;
  transform: translateX(50%);
  @media print {
    bottom: -16px;
    padding-top:0;
  }
}
.icon-github:before {
  @include icon-font('entypo-social');
  content: "\f300";
}

/* PRINT */
@media print {
  a.print:after {
    content:" (" attr(href) ") ";
  }

  html {
    font-size: 11px;
    border: 0;
    box-shadow: none;
  }

  header {
    margin: 0;
    padding-bottom: 0;
  }

  header, main {
    padding: 1em 3em;
  }

  h4, h4 a {
    font-size: 8px !important;
    font-weight: normal !important;
  }

  .about {
    font-size: inherit;
    margin-top: 3em;
  }

  .name {
    &:after {
      bottom: -10px;
      height: 6px;
    }
  }

  .volunteering,
  .side-projects {
    h4 a {
      font-size: 15px !important;
    }

    .job p {
      margin: 5px 0;
    }
  }

  ol, ul {
    padding-left: 1.5em;
  }

  .progress-bar {
    height: 5px;
    .progress {
      height: 5px;
    }
  }

  .heading-bar,
  .what {
    display: none;
  }

  .info {
    padding-bottom: 1em;
  }

  .experience .job:first-of-type:after {
    content: "continued...";
    margin-top: 3em;
    margin-bottom: 1em;
    display: block;
  }

  .experience .job:last-of-type {
    padding-top: 10px;
  }

  .expertise {
    padding-top: 50px;
    // padding-top: 200px;
  }

  .experience-skills {
    page-break-before: always;
    // padding-top: 135px;
  }

  .box {
    margin: 0 0 1em 0;
    overflow: visible;
    padding: 0 4px 2px;

    h3 {
      margin-top: 0;
    }
  }

  .cta {
    font-size: 16px;
    width: 30%;
    left: -20px;
    position: relative;
    overflow-wrap: break-word;
    border-width: 1px;

    .contact-info a {
      font-size: 13px;
    }
  }
}

// ANIMATIONS

@-webkit-keyframes goDown {
  0% { top: -1.9em; }
  100% { top: 0; }
}
@-webkit-keyframes goUp {
  to { top: -1.9em; }
}
