<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Brett Bukowski</title>
        <meta name="description" content="Brett Bukowski - wave of the future">
        <meta name="viewport" content="width=device-width">
        <script>window.document.documentElement.className='js'</script>
        <style type="text/css">.js #cover{width:100%;height:100%;position:absolute;background:#121212;z-index:2}</style>
        <link rel="stylesheet" href="assets/application.css">
    </head>
    <body>
        <div id="cover"></div>
        <div id="content" class="curtains">
            <section id="hi" class="cover" data-title="Hi">
            <!--[if lt IE 8]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
            <% if defined? message %>
            <div class="message"><%= message %></div>
            <% end %>
                <header>
                    <h1><span class="prelude">Hi, I'm</span> Brett Bukowski</h1>
                </header>
            </section>

            <section id="bio" data-title="About">
                <article>
                    <h2>I'm a software developer.</h2>
                    <p>I love building things, particularly web apps.</p>
                    <p>I'm currently working at <strike>RightNow Technologies</strike> Oracle Conglomerate building a customer service web platform.</p>
                    <p>I'm a Packers fan, UI enthusiast, comicbook reader, movie watcher, book learner, gentleman coder.</p>
                </article>
            </section>

            <section id="projects" data-title="Side Projects">
                <article>
                    <h2>Projects</h2>
                    These are some of the things I work on for fun and always in order to scratch a particular itch.
                    <ul>
                        <li class="downisup">
                            <img src="img/downisup.png" alt="screen shot of the app" width="190" height="190"/>
                            <div class="details">
                                <h3><a href="http://downisup.heroku.com/">Down is Up</a></h3>
                                <aside>Rails</aside>
                                <p>Before markdown was a household name, I made a lil' side-by-side previewer.</p>
                            </div>
                        </li>
                        <li class="catchlater">
                            <img src="img/catchlater.png" alt="Catchlater logo" width="190" height="190"/>
                            <div class="details">
                                <h3><a href="http://catchlater.com/">Catchlater</a></h3>
                                <aside>Rails + MongoDB</aside>
                                <p>A watch it later service for web videos.</p>
                            </div>
                        </li>
                        <li class="tweetstasher">
                            <img src="img/tweetstasher.png" alt="Tweetstasher logo" width="190" height="190"/>
                            <div class="details">
                                <h3><a href="http://tweetstasher.com/">Tweetstasher</a></h3>
                                <aside>Express + CouchDB</aside>
                                <p>Save drafts of tweets to post later.</p>
                            </div>
                        </li>
                        <li class="colorant">
                            <img src="img/colorant.png" alt="Colorant logo" width="190" height="190"/>
                            <div class="details">
                                <h3><a href="http://colorantapp.com/">Colorant</a></h3>
                                <aside>Pure Objective-C</aside>
                                <p>My first iPhone app. Go in and inspect color details of your photos.</p>
                            </div>
                        </li>
                    </ul>
                </article>
            </section>

            <section id="blog" data-title="Bloggin'">
                <article>
                    <p>I also write a <strong>blog</strong> called <a href="http://gestaltism.com">Gestaltism</a> that explores factors of design and craftsmanship.</p>
                </article>
            </section>

            <section id="contact" data-title="Get in touch">
                <article>
                    <h2>Get in touch</h2>
                    <ul class="clearfix social">
                        <li><a class="icon-twitter" href="https://twitter.com/brettbukowski"><span class="visuallyhidden">Twitter</span></a></li>
                        <li><a class="icon-facebook" href="https://facebook.com/brettbukowski"><span class="visuallyhidden">Facebook</span></a></li>
                        <li><a class="icon-github" href="https://github.com/brettbukowski"><span class="visuallyhidden">Github</span></a></li>
                        <li><a class="icon-instagram" href="https://instagram.com/brettbukowski"><span class="visuallyhidden">Instagram</span></a></li>
                        <li><a class="icon-tumblr" href="http://valveofignatius.tumblr.com"><span class="visuallyhidden">Tumblr</span></a></li>
                        <li><a class="icon-flickr" href="http://www.flickr.com/photos/bukowskib/"><span class="visuallyhidden">Flickr</span></a></li>
                    </ul>
                    <div id="formMessage" class="hidden message"></div>
                    <form class="clearfix" action="/contact" method="post">
                        <div>
                            <label>
                                Email address
                                <input type="email" name="email" required/>
                            </label>
                        </div>
                        <div>
                            <label>
                                Message
                                <textarea rows="5" name="message" required></textarea>
                            </label>
                        </div>
                        <input type="submit" value="Send"/>
                    </form>
                </article>
            </section>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="assets/application.js"></script>
    </body>
</html>
