<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="author" content="Brett Bukowski">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <title>Brett Bukowski / resume</title>
        <link rel="stylesheet" type="text/css" href="assets/r.css">
    </head>
    <body>
      <!--[if lt IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      <header>
        <section class="name">
          <div class="vcard">
            <h1><a href="http://brettbukowski.com" class="url fn"></a>Brett Bukowski</h1>
            <h2 class="category">Software Developer</h2>
          </div>
        </section>

        <section class="info">
          <div class="vcard">
            <p class="adr">
              <span class="street-address">123 W. Main St. Apt. A</span>
              <span class="locality">Bozeman</span>,
              <span class="region">MT</span>
              <span class="postal-code">59715</span>
            </p>
            <p class="tel">406-624-9094</p>
            <div class="contact">
              <p class="email"><a href="mailto:brett.bukowski@gmail.com">brett.bukowski@gmail.com</a></p>
              <p class="url"><a href="http://brettbukowski.com">http://brettbukowski.com</a></p>
            </div>
          </div>
        </section>
      </header>

      <section class="about">
        <p><strong>About:</strong>
        I&#8217;m an experienced web developer looking to advance my career. I want to help build a product whose result speaks for itself—where a clear product vision and a talented group of people executing on that vision produces software that helps millions of people. I want to help solve challenging problems. I&#8217;m learning to ask better questions. I hope to work with and learn from other skilled engineers in order to deepen my programming skills and learn new ways of solving problems.</p>
      </section>



      <section id="main">
        <section class="overview">
          <h3>Overview</h3>
          <ul>
<li>I place a strong emphasis on writing testable code that&#8217;s intended to be consumed by other developers.</li>
<li>I value readable code and I&#8217;m always in search of more elegant solutions.</li>
<li>I enjoy learning new programming languages and at becoming more adept with languages that I&#8217;m familiar with.</li>
<li>I&#8217;m accustomed to shipping software using an agile methodology and scrum process.</li>
<li>I possess practical knowledge of relational databases, distributed memory caches, and other technologies used to build modern, scalable web applications.</li>
<li>I consider myself highly-skilled in front-end web development techniques such as:

<ul>
<li>Modern JavaScript applications</li>
<li>CSS (CSS3 as well as preprocessor frameworks)</li>
<li>HTML5 semantics</li>
<li>Web page accessibility (supporting JAWS and Voiceover screen readers)</li>
<li>Responsive web design as well as websites designed specifically for mobile devices</li>
</ul></li>
</ul>
        </section>
        <section class="experience">
          <h3>Work Experience</h3>
          <article class="job">
<strong class="time-period">2008 - Present</strong>

<h4 id="rightnowtechnologiesacquiredbyoracle2012-bozemanmt">RightNow Technologies (Acquired by Oracle, 2012) - Bozeman, MT</h4>

<p>Web Developer</p>

<p>I&#8217;m a member on a team that builds a web platform powering many big-time customer support websites. This product is a hosted, PHP-based application framework that provides a rich set of default features aimed at support users that&#8217;s designed to work well for most businesses from the start. But the developer framework provides a great deal of APIs so that businesses can customize the support experience they provide to better suit specific business needs or user goals.</p>

<p><strong>Overview</strong></p>

<ul>
<li>I have experience building developer-facing framework APIs in PHP and JavaScript.</li>
<li>I&#8217;ve also built a number of enduser-facing features comprised of PHP, JavaScript, and CSS components.</li>
<li>I help instruct customers / platform developers via a forum.</li>
<li>I&#8217;m a 2-time RightNow-Oracle development hackathon winner (1 solo, 1 team)</li>
<li>I&#8217;ve given talks at multiple developer conferences (2010 &amp; 2011 RightNow Developers Conference) as well as several talks internal to the organization.</li>
</ul>
          </article>
          <article class="job">
<strong class="time-period">2007</strong>

<h4 id="computersunlimited-billingsmt">Computers Unlimited - Billings, MT</h4>

<p>Intern</p>

<p>I worked within a team building pharmaceutical inventory management software.</p>

<ul>
<li>My responsibilities involved fixing bugs and developing several minor features in a mature application.</li>
<li>This required learning a new programming language.</li>
</ul>
          </article>
        </section>

        <section class="side-projects">
<h3 id="sideprojects">Side Projects</h3>

<p>These are some things I&#8217;ve built to scratch an itch and to explore technologies outside the purview of what I&#8217;d see at work.</p>

<h4 id="catchlater"><a href="http://catchlater.com">CatchLater</a></h4>

<p>Web app to stash off online videos (Youtube, Vimeo, TED, etc.) for watching later.</p>

<p>→ Built using Rails and MongoDB.</p>

<h4 id="tweetstasher"><a href="http://tweetstasher.com">TweetStasher</a></h4>

<p>Simple web app to save off drafts of tweets to post later.</p>

<p>→ Small NodeJS app built with Express, Backbone, and CouchDB.</p>

<h4 id="colorant"><a href="http://colorantapp.com">Colorant</a></h4>

<p>Niche iPhone app to inspect colors in photos with a color picker.</p>

<p>→ Built with pure Objective-C and UIKit APIs.</p>
        </section>
      </section>

      <section class="education">
        <h3>Education</h3>
        <article>
          <strong class="time-period">May 2008</strong>
          <p>Bachelor of Science, Computer Science</p>
          <strong>Montana State University</strong>
          <strong>With Honors (3.65+ GPA)</strong>
        </article>
      </section>

      <section class="skills">
        <h3>Skills</h3>
        <article>
          <strong title="ranked in order of proficiency and lines of code shipped">Languages</strong>
          <ul>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Ruby</li>
            <li>Objective-C</li>
            <li>C#</li>
            <li>Python</li>
            <li>Java</li>
            <li>C</li>
          </ul>
        </article>
        <article>
          <strong>Frameworks & Technologies</strong>
          <ul>
            <li>CodeIgniter</li>
            <li>Rails</li>
            <li>Sinatra</li>
            <li>Backbone</li>
            <li>YUI</li>
            <li>jQuery</li>
            <li>Express</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>CouchDB</li>
            <li>LESS, SASS, vanilla CSS</li>
          </ul>
        </article>
        <article>
          <strong>Areas of Expertise</strong>
          <ul>
            <li>Webpage accessibility</li>
          </ul>
        </article>
      </section>
    </body>
</html>
