<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow,nosnippet,noarchive,noimageindex">
        <meta name="author" content="Brett Bukowski">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Brett Bukowski / resume</title>
        <link rel="stylesheet" type="text/css" href="assets/r.css">
        <!--
         ___   ___    ________
        /__/\ /__/\  /_______/\
        \::\ \\  \ \ \__.::._\/
         \::\/_\ .\ \   \::\ \
          \:: ___::\ \  _\::\ \__
           \: \ \\::\ \/__\::\__/\
            \__\/ \::\/\________\/
         _________  ___   ___   ________   ___   __    ___   ___   ______
        /________/\/__/\ /__/\ /_______/\ /__/\ /__/\ /___/\/__/\ /_____/\
        \__.::.__\/\::\ \\  \ \\::: _  \ \\::\_\\  \ \\::.\ \\ \ \\::::_\/_
           \::\ \   \::\/_\ .\ \\::(_)  \ \\:. `-\  \ \\:: \/_) \ \\:\/___/\
            \::\ \   \:: ___::\ \\:: __  \ \\:. _    \ \\:. __  ( ( \_::._\:\
             \::\ \   \: \ \\::\ \\:.\ \  \ \\. \`-\  \ \\: \ )  \ \  /____\:\
              \__\/    \__\/ \::\/ \__\/\__\/ \__\/ \__\/ \__\/\__\/  \_____\/
         ______   ______   ______
        /_____/\ /_____/\ /_____/\
        \::::_\/_\:::_ \ \\:::_ \ \
         \:\/___/\\:\ \ \ \\:(_) ) )_
          \:::._\/ \:\ \ \ \\: __ `\ \
           \:\ \    \:\_\ \ \\ \ `\ \ \
         __ \_\/  ___\_____\/_\_\/ \_\/   ___   ________  ___   __    _______    __
        /_/\     /_____/\ /_____/\ /___/\/__/\ /_______/\/__/\ /__/\ /______/\  /__/\
        \:\ \    \:::_ \ \\:::_ \ \\::.\ \\ \ \\__.::._\/\::\_\\  \ \\::::__\/__\.:\ \
         \:\ \    \:\ \ \ \\:\ \ \ \\:: \/_) \ \  \::\ \  \:. `-\  \ \\:\ /____/\\::\ \
          \:\ \____\:\ \ \ \\:\ \ \ \\:. __  ( (  _\::\ \__\:. _    \ \\:\\_  _\/ \__\/_
           \:\/___/\\:\_\ \ \\:\_\ \ \\: \ )  \ \/__\::\__/\\. \`-\  \ \\:\_\ \ \   /__/\
            \_____\/ \_____\/ \_____\/ \__\/\__\/\________\/ \__\/ \__\/ \_____\/   \__\/
        -->
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-87816383-1', 'auto');
ga('send', 'pageview');
        </script>
    </head>
    <body>
      <!--[if lt IE 10]>
        <p class="chromeframe">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
      <![endif]-->
      <section class="heading-bar">
          <i class="icon-pencil" role="presentation" aria-hidden="true"></i> <a href="/resume.md">Markdown version</a>
          <i class="icon-doc" role="presentation" aria-hidden="true"></i> <a href="/resume.pdf#zoom=100">PDF version</a>
          <i class="icon-print" role="presentation" aria-hidden="true"></i> <a href="javascript:window.print()" role="button">Print</a>
      </section>
      <header>
        <section class="name">
          <div class="vcard">
            <h1><a href="http://brettbukowski.com" class="url fn"></a><span class="given-name">Brett</span> <span class="family-name">Bukowski</span></h1>
            <h2 class="category">Software Engineer</h2>
          </div>
        </section>

        <section class="info">
          <div class="vcard">
            <p class="adr icon-pin">
              <span class="locality">Portland</span>,
              <span class="region">OR</span>
            </p>
            <div class="contact">
              <p class="tel icon-phone"><a href="tel:406-624-9094">406-624-9094</a></p>
              <p class="email icon-email"><a href="mailto:brett@brettbukowski.com">brett@brettbukowski.com</a></p>
              <p class="url icon-link"><a href="http://brettbukowski.com">http://brettbukowski.com/resume</a></p>
              <p class="url icon-github"><a href="https://github.com/BrettBukowski">GitHub - BrettBukowski</a></p>
            </div>
          </div>
        </section>
      </header>

      <section class="about">
        <p>I'm an experienced, product-focused engineer looking to advance my career. I want to help build a product where a clear vision and a talented group of people executing on that vision produces software that helps millions of people. I want to help solve challenging problems. I'm learning to ask better questions. I have a strong ability to learn from other engineers and I hope to work with a skilled team in order to deepen my programming skills and learn new ways of solving problems.
      </section>

        <section class="overview box">
          <h3 class="icon-overview">Overview</h3>
          <ul>
<li>I place a strong emphasis on writing testable code that&#8217;s intended for consumption by other developers.</li>
<li>I value readable code and I&#8217;m always in search of more elegant solutions.</li>
<li>I enjoy learning new programming languages and at becoming more adept with languages that I&#8217;m familiar with.</li>
<li>I&#8217;m accustomed to shipping software using an agile methodology and scrum process.</li>
<li>I&#8217;ve served as a team tech lead for several years and have managed three interns.</li>
</ul>
        </section>
      <section id="main">
        <section class="experience box">
          <h3 class="icon-work">Work Experience</h3>
          <article class="job">
            <strong class="time-period">2017 - Present</strong>

            <h4 class="firm"><a target="_blank" href="https://airbnb.com">Airbnb</a></h4>

            <h5 class="location">San Francisco, CA</h5>

            <div class="role clearfix">
              <span class="title">Senior Software Engineer, Tech Lead</span>
            </div>

            <p>I had the opportunity to work on several teams and lead a number of impactful, user-facing projects.</p>

            <ul>
              <li>One of three engineers to build <a target="_blank" href="https://techcrunch.com/2017/11/28/airbnb-launches-payment-splitting-for-group-trips/">group payments</a> into the Airbnb booking flow.
                <ul>
                  <li>Built the co-traveler management and payment management pages on the Airbnb website</li>
                  <li>Implemented the payment plan booking flow and payment management screens within the iOS app</li>
                  <li>Learned Android development while building the payment plan booking flow and payment management screens within the Android app</li>
                </ul>
              </li>
              <li>Led <a target="_blank" href="https://news.airbnb.com/airbnb-resy-team-offer-app-restaurant-reservations/">Resy integration</a> efforts
                <ul>
                  <li>Implemented the ability to modify restaurant reservations (backend, web, iOS, Android)</li>
                  <li>Contributed to other product enhancements and bug fixes via backend, web, iOS, Android</li>
                </ul>
              </li>
              <li>Lead and sole engineer on Places detail page revamp effort
                <ul>
                  <li>Web, iOS, Android</li>
                </ul>
              </li>
              <li>Lead and sole engineer of modernization and rewrite effort of the <a target="_blank" href="https://airbnb.com/s/San-Francisco--CA/things-to-do">Things to Do product</a>
                <ul>
                  <li>Backend, web</li>
                </ul>
              </li>
              <li>Successfully managed two interns, resulting in return offers and subsequent full-time hires</li>
              <li>Served as tech lead: scoping projects, contributing to team planning, mentoring junior engineers, bug triage lead, mobile POC for the team</li>
            </ul>
          </article>
          <article class="job">
            <strong class="time-period">2015 - 2017</strong>

            <h4 class="firm"><a href="https://tilt.com">Tilt</a></h4>

            <h5 class="location">San Francisco, CA</h5>

            <div class="role clearfix">
              <span class="title">Senior Software Engineer</span>
            </div>

            <p>I had the opportunity to serve as a core member on three different teams at this fast-moving startup.</p>

            <ul>
              <li>Built a number of high-impact commerce features in the iOS app.
                <ul>
                  <li>Ticket checkin w/ QR code scanner</li>
                  <li>Marketing promotion feature</li>
                  <li>Referral sales system</li>
                </ul>
              </li>
              <li>Refactored a big portion of the iOS codebase from Objective-C to Swift and drove the Swift 3.0 migration.</li>
              <li>Developed growth-driving features on the tilt.com website and within the Tilt iOS app.
                <ul>
                  <li>Mobile app promotion banner and splash page on the tilt.com website</li>
                  <li>In-app promotional popup targeting specific user cohorts</li>
                  <li>A/B experiment testing conversion rates for new homepage designs</li>
                </ul>
              </li>
              <li>Driving an effort to reduce massive technical debt, refactored an antiquated campaign organizer dashboard into a React-driven app with a modern UI.</li>
              <li>Built-out and maintained an internal admin Rails app that employees use for customer support.</li>
              <li>Working with the growth team, built a Rails-based ambassador website where brand ambassadors can view leaderboards and track their stats.</li>
              <li>Worked with the CEO and Director of Growth to build a Rails-based internal portal for employee resources.</li>
              <li>Served as an internship program mentor and participated in recruiting efforts on several university campuses.</li>
            </ul>
          </article>
          <article class="job">
            <strong class="time-period">2008 - 2015</strong>

            <h4 class="firm">RightNow Technologies</h4>


            <h5 class="location">Bozeman, MT</h5>
            <small>Acquired by Oracle, 2012</small>

            <div class="role">
              <span class="title">Web Engineer</span>
            </div>

<p>Lead member on a team that built a web platform powering many big-time customer support websites. This product was a hosted, PHP-based application framework that provided a rich set of UI widgets for building support features.</p>


<ul>
<li>Built developer-facing framework APIs in PHP and JavaScript.</li>
<li>Made enduser-facing features comprised of PHP, JavaScript, and CSS components.</li>
<li>Communicated with customers and platform developers via web forums.</li>
<li>4-time RightNow-Oracle development hackathon winner (1 solo, 3 team).</li>
<li>Built and maintained several internal, standalone web apps and other internal tools as part of 20% time.</li>
<li>Gave multiple talks at developer conferences (2010 &amp; 2011 RightNow Developers Conference) and several talks internal to the organization.</li>
</ul>
          </article>
        </section>

        <section class="volunteering box">
          <h3 id="sideprojects" class="icon-heart">Volunteer Work</h3>
          <article class="job">
            <h4><a class="print" href="https://www.epicsf.com">Epicsf.com</a></h4>
            <p>Developed a <a href="https://github.com/epicsf/epicsf.com">WordPress theme</a> and built the custom PHP functionality powering the WordPress site.</p>
          </article>
          <article class="job">
            <h4><a class="print" href="http://basillabs.org">Basil Labs</a></h4>
            <p>Ongoing volunteer work helping to provide technical expertise to nonprofit organizations.</p>
          </article>
        </section>

        <section class="side-projects box">
          <h3 id="sideprojects" class="icon-projects">Side Projects</h3>
          <p>These are some things I&#8217;ve built to scratch an itch and to explore technologies outside the purview of what I&#8217;d see at work.</p>
          <article class="job">
            <h4 id="catchlater"><a class="print" href="https://catchlater.com">CatchLater</a></h4>
            <p>Web app to stash off online videos (Youtube, Vimeo, TED, etc.) for watching later.</p>
            <p class="icon-right">Built using Rails and MongoDB.</p>
          </article>
          <article class="job">
            <h4 id="tweetstasher"><a class="print" href="http://tweetstasher.com">TweetStasher</a></h4>
            <p>Simple web app to save off drafts of tweets to post later.</p>
            <p class="icon-right">Small NodeJS app built with Express, Backbone, and CouchDB.</p>
          </article>
          <article class="job">
            <h4 id="colorant"><a class="print" href="http://colorantapp.com">Colorant</a></h4>
            <p>Niche iPhone app to inspect colors in photos with a color picker and view generated color palettes.</p>
            <p class="icon-right">Built with pure Objective-C and UIKit APIs.</p>
          </article>
          <article class="job">
            <h4 id="tomatar"><a class="print" href="http://tomatar.com">Tomatar</a></h4>
            <p>Pomodoro timer web app.</p>
            <p class="icon-right">Built with AngularJS, Postgres, and the Flatiron NodeJS libraries.</p>
          </article>
        </section>
      </section>

      <section class="education siderail box">
        <h3 class="icon-education">Education</h3>
        <article class="job">
          <h4 class="firm">Montana State University</h4>
          <div class="role clearfix">
            <span class="title">Bachelor of Science, Computer Science</span>
            <div>May 2008</div>
          </div>
         </article>
      </section>

      <section class="skills siderail box">
        <h3 class="icon-skills">Skills</h3>
        <div class="columns">
          <article class="languages">
            <strong>Languages</strong>
            <ul>
              <li><span class="lang">Ruby</span> <span class="progress-bar"><span class="progress progress-8"></span></span></li>
              <li><span class="lang">JS/TS</span> <span class="progress-bar"><span class="progress progress-9"></span></span></li>
              <li><span class="lang">Java</span> <span class="progress-bar"><span class="progress progress-8"></span></span></li>
              <li><span class="lang">Swift</span> <span class="progress-bar"><span class="progress progress-8"></span></span></li>
              <li><span class="lang">Objective-C</span> <span class="progress-bar"><span class="progress progress-6"></span></span></li>
              <li><span class="lang">PHP</span> <span class="progress-bar"><span class="progress progress-8"></span></span></li>
              <li><span class="lang">Go</span> <span class="progress-bar"><span class="progress progress-6"></span></span></li>
              <li><span class="lang">Python</span> <span class="progress-bar"><span class="progress progress-7"></span></span></li>
              <li><span class="lang">C#</span> <span class="progress-bar"><span class="progress progress-5"></span></span></li>
              <li><span class="lang">Perl</span> <span class="progress-bar"><span class="progress progress-5"></span></span></li>
            </ul>
          </article>
          <br>
          <article class="experience-skills">
            <strong>Experience with the following frameworks and technologies</strong>
            <ul>
              <li>iOS - UIKit</li>
              <li>Rails, Sinatra</li>
              <li>React, Backbone, AngularJS</li>
              <li>Express</li>
              <li>Apache, Nginx</li>
              <li>MySQL, Postgres</li>
              <li>Redis, memcached</li>
              <li>MongoDB, CouchDB</li>
              <li>LESS, SASS, vanilla CSS</li>
            </ul>
          </article>
        </div>
        <article class="expertise">
          <strong>Areas of Expertise</strong>
          <p>
            Adept at building iOS applications using tools like:
            <ul>
              <li>UIKit libraries</li>
              <li>Autolayout</li>
              <li>Cocoapods</li>
              <li>Unit tests and functional testing (Calabash)</li>
              <li>Libraries like AFNetworking, Snapkit, etc.</li>
            </ul>
          </p>
<!--           <p>
            Highly-skilled in front-end web development techniques such as:
            <ul>
              <li>Modern JavaScript applications</li>
              <li>CSS (CSS3 as well as preprocessor frameworks)</li>
              <li>HTML5 elements and modern browser APIs</li>
              <li>Web page accessibility (supporting JAWS and Voiceover screen readers)</li>
              <li>Responsive web design as well as websites designed specifically for mobile devices</li>
            </ul>
            </li>
          </p> -->
        </article>
      </section>
      <section class="siderail cta">
        <p class="prelude icon-work-together">I would love to work with <%= company_name || 'you' %>.</p>
        <p>So let's talk!</p>
        <div class="contact-info">
          <div>
            <a href="tel:406-624-9094">406-624-9094</a>
          </div>
          <div>
            <a href="mailto:brett@brettbukowski.com">brett@brettbukowski.com</a>
          </div>
        </div>
      </section>
      <script src="assets/r.js"></script>
    </body>
</html>
